
/*

Custom Variables

*/

// Colors (css ruined my proper english)
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Cool

$aqua:  #7FDBFF;
$blue:  #0074D9;
$navy:  #001F3F;
$teal:  #39CCCC;
$green: #2ECC40;
$olive: #3D9970;
$lime:  #01FF70;

// Warm

$yellow:  #FFDC00;
$orange:  #FF851B;
$red:     #FF4136;
$fuchsia: #F012BE;
$purple:  #B10DC9;
$maroon:  #85144B;

// Gray Scale

$white:  #FFFFFF;
$silver: #DDDDDD;
$gray9:  #999999;
$grayC:  #CCCCCC;
$gray:   #AAAAAA;
$black:  #000000;

// Specific Brand Colours

$backgroundColour: $black;
$borderColor: $white;

$primary-color: $white;
$secondary-color: $black;

$primary-color-light: mix($primary-color, $white);
$primary-color-dark: mix($primary-color, $black);
$secondary-color-light: mix($secondary-color, $white);
$secondary-color-dark: mix($secondary-color, $black);

// This is the default html and body font-size for the base rem value.
$font-size-base: 13px;

// Typography
// - - - - - - - - - - - - - - - - - - - - - - - - -

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-med: 500;
$font-weight-bold: 700;


// We use these to control various global styles
$body-bg: $white;
$body-font-color: $primary-color;
$body-font-family:  Arial, Helvetica, sans-serif;
$body-font-weight: $font-weight-normal;
$body-font-style: normal;

// We use these to control header font styles
$header-font-family: Arial, Helvetica, sans-serif;
$header-font-weight: $font-weight-bold;
$header-font-style: normal;
$header-font-color: $secondary-color;
$header-line-height: 1.4;
$header-top-margin: .2rem;
$header-bottom-margin: .5rem;

// We use these to control header font sizes
$h1-font-size: 70px;
$h2-font-size: 45px;
$h3-font-size: 33px;
$h4-font-size: 24px;
$h5-font-size: 18px;
$h6-font-size: $font-size-base;
